- if @reminds.present?
  - @reminds.each_with_index do |remind, index|
    %li.remind
      %span{style: "#{'color: rgb(218, 79, 73);' if @read_count >= (index + 1)}"}
        = remind.kind
        = link_to remind.commentable_short_content, remind.commentable
        有了新回复
      %hr
  %li#view-all-notice
    = link_to '查看全部提醒', reminds_path
- else
  %br
  %li#view-all-notice
    没有更多提醒
  %br
