%div#comments
  - commentable.comments.each do |comment|
    %div
      %div
        = link_to comment.user, class: 'user-face' do
          = image_tag comment.user.image(:small)
      %div.pull-left.span10
        %small
          =link_to comment.user do
            = comment.user.name
          =comment.created_at.time_ago
        %p.text.box
          =comment.content
    %hr.clear
 
.pull-right
  = paginate comments, remote: true
