- commentable.comments.each do |comment|
  %div
    %div
      = link_to comment.user, class: 'user-face' do
        = image_tag comment.user.image(:small)
    %div.pull-left.span10
      %small
        =comment.created_at.getlocal
        =link_to comment.user do
          = comment.user.name
      %p.text.box
        =comment.content
  %hr.clear
