- max_show_num = 18
- commentable.comments.limit(max_show_num).each do |comment|
  = render 'comments/small_show', comment: comment
%p.more-comments
  - if commentable.comments.count > max_show_num
    = link_to '查看更多回复', commentable, target: '_blanak'
