%div{"ng-app"=>"myApp", "ng-init"=>"userId='#{@user.id}'"}
  %div{"ng-controller"=>"EntryList"}
    .span2
      =render 'entries/menu'
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{"ng-click"=>"history()"}
            所有条目
    .span10.box.left-line
      =render 'entries/tabs'
      =render 'entries/contents'
