#entry-tabs
  %ul.nav.nav-pills.nav-tabs
    %li.entry-tab{"ng-repeat"=>"entry in entries", "ng-click"=>"next(entry.title)"}
      %a{ "data-toggle" => "tab"}
        {{entry.title}}
        %i.icon-remove
    %li#remove-unactive-li
      =link_to '#' do
        %i.icon-ban-circle
