#entry-tabs
  %ul.nav.nav-pills.nav-tabs
    %li.entry-tab{"ng-repeat"=>"entry in entries", "ng-class"=>"{'active': entry.title == currentEntry.title}"}
      %a{ "data-toggle" => "tab", "ng-click"=>"next(entry.title)"}
        {{entry.title}}
        %i.icon-remove{"ng-click"=>"remove(entry)"}
    %li#remove-unactive-li
      %a{ "ng-click"=>"clear()"}
        %i.icon-ban-circle
