.span7.well
  %h4
    =title
  %br
  - @users.each do |user|
    %div.pull-left.span2
      = link_to user do
        = image_tag user.image(:small)
        %br.lh3
        .text
          =user.name
      %br

  .pull-right
    = paginate @users, remote: true
