%div.span7
  %div.row.well
    %h4有什么想告诉大家：
    %br
    =render 'microblogs/form'
    %br.clear
    %hr
    =render 'index'

%div.span4
  %div.row.ml10
    = render 'users/rmod_info', user: current_user
