- if current_user
  %div.span8
    %div.row.well
      %h4有什么想告诉大家：
      %br
      =render 'microblogs/form'
    %div
      =#render 'dynamics/index'

  %div.span4
    %div.well
      test

- else
  %div#intro-page.row
    %div.span4.offset8.well
      %div.tabbable
        %ul.nav.nav-tabs
          %li.active
            =link_to "登录", '#sign_in', "data-toggle"=>"tab"
          %li
            =link_to "注册", '#sign_up', "data-toggle"=>"tab"
        %div.tab-content
          %div.tab-pane.active#sign_in
            =render 'devise/sessions/sign_in'
          %div.tab-pane#sign_up
            =render 'devise/registrations/sign_up'
