%h1 Listing resources

%table
  %tr
    %th
    %th
    %th

  - @resources.each do |resource|
    %tr
      %td= link_to 'Show', resource
      %td= link_to 'Edit', edit_resource_path(resource)
      %td= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Resource', new_resource_path
