%div
  =render 'common/carousel', title: '最新资源', items: @newest_resources
  %hr
  =render 'common/carousel', title: '热门资源', items: @hottest_resources
  %hr
%div
  =render 'experiences/top'
  %hr.clear
  =render 'reviews/top'
