%div#sidebar
  %ul.nav.nav-pills.nav-stacked
    = breadcrumb_li knowledges_path do
      %strong 广场

    = breadcrumb_li top_knowledges_path do
      更多知识

    %div.h358

    = breadcrumb_li top_experiences_knowledges_path do
      更多学习心得

    = breadcrumb_li top_notes_knowledges_path do
      更多笔记
