%div#sidebar
  %ul.nav.nav-pills.nav-stacked
    %li.active
      =link_to knowledges_path do
        %strong 广场
    %li
      =link_to '更多知识', '#'
    %hr
    %div{style: 'height: 370px;'}
    %li
      =link_to '更多心得', '#'
    %li
      =link_to '更多笔记', '#'
