%div#sidebar
  %ul.nav.nav-pills.nav-stacked
    %li.active
      =link_to knowledges_path do
        %strong 广场
    %li
      =link_to '更多知识', '#'
    %div.h358
    %li
      =link_to '更多学习心得', '#'
    %li
      =link_to '更多笔记', '#'
