%div.span9
  %div{class: "index-carousel"}
    %h2 最新知识
    /  %div{id: "myCarousel", class: "carousel slide"}
    /    %div{class: "carousel-inner"}
    %ul
      - @newest_knowledges.each do |k|
        %li
          = link_to 'Show' do
            =image_tag k.image

  %br

