%div.item-show.span8.offset2
  %div.inner
    = image_tag @knowledge.image, class: 'normal pull-left'
    %div.info
      %h3
        = @knowledge.title
      %p
        = @knowledge.description
    %div.tabbable
      %hr
      %ul.nav.nav-tabs
        %li.active
          =link_to "心得", '#', "data-toggle"=>"tab"
        %li
          =link_to "笔记", '#', "data-toggle"=>"tab"
        %li
          =link_to "资源", '#', "data-toggle"=>"tab"
        %li
          =link_to "我学", '#', "data-toggle"=>"tab"
