%div.profile
  = image_tag @knowledge.image, class: 'normal pull-left'
  %div.info
    %h3
      = @knowledge.title
    %p
      = @knowledge.description
  %br.clear

  %div
    %hr
    =link_to new_note_path(knowledge_id: @knowledge) do
      %li.icon-pencil
      写笔记
    &nbsp;
    =link_to new_experience_path(knowledge_id: @knowledge) do
      %li.icon-file
      写学习心得
    %hr
  =render 'top_experiences'
  =render 'notes'
