/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

*{
  border:0;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  margin:0px;
}
h3 small{font-size: 17px;}
small {font-size:14px;}
body{}
.big{
  line-height:2;
}
textarea{
  min-width:500px;
  max-height:250px;
}
ul{
  margin: 0px;
  list-style:none;
}
small{
  color:#888;
}
//width and height
.h358{height:358px;}

//
#content{
  position:relative;
  width:960px;
  margin:0 auto;
  margin-top:60px;
}
#sidebar{
  font-size:15px;
  li{margin-bottom:10px;}
  strong{font-size:18px;}
}
.inner{
  padding:20px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  min-height: 200px;
}
.alert{padding:5px 8px;}
.reputations .alert{margin-right:8px;}
.box{padding: 10px;}
.user-face{
  float: left;
  margin-right: 15px;
}
.left-line{
  border-left:1px solid #ddd;
  padding-left:30px;
}
.clear{
  clear:both;
}
.form-actions{
  margin-bottom:0px;
  padding-bottom:0px;
  background:white;
}
.well .form-actions{background: whitesmoke;}
//intro page
#intro-page{
  background: url('sephirothic_tree.jpg') no-repeat;
  background-position-y: -25px;
  min-height:1000px;
  background-size:61.8%;
  .well{background-color:white;}
}

//image version
.normal{
  width:106px;
  max-height:150px;
}
.profile img{
  margin-right:15px;
}

//carousel
.carousel-nav{margin-bottom:3px;}
.index-carousel{
  width: 710px;
  h3{margin-top:-8px;}
  .carousel .item{
    a{
      display:block;
      float:left;
      text-align:center;
    }
    img{margin-right:15px;}
  }
  .carousel-control{
    margin-right:102px;
    height:20px;
    width:20px;
    font-size:24px;
    line-height:18px;
    margin-top:10px;
    top: -2%;
  }
  .left-side{margin-right: 127px;}
}
.carousel-indicators{
  margin-right:160px;
  .active{
      background-color: #aaa;
  }
  li{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    border-radius: 5px;
  }
}

