/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

*{
  border:0;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  margin:0px;
}
body{}
#content{
  position:relative;
  width:960px;
  margin:0 auto;
  margin-top:60px;
}
textarea{
  min-width:500px;
  max-height:250px;
}
.action{
  .btn-primary, .btn-warning{
    margin-right: 5px;
  }
}
ul{
  margin: 0px;
  list-style:none;
  li{
    float:left;
  }
}

//intro page
#intro-page{
  background: url('sephirothic_tree.jpg') no-repeat;
  background-position-x: 30px;
  background-position-y: -25px;
  min-height:757px;
  .form-actions{background-color:white;}
}

//image version
.normal{
  width:106px;
  max-height:150px;
}

//Bootstrap
.carousel-indicators{
  margin-right:10px;
  .active{
      background-color: #aaa;
  }
  li{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    border-radius: 5px;
  }
}
