/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require jquery.qeditor
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import 'font-awesome';
@import 'font-awesome-ie7.min';

h1,h2,h3,h4,h5,h6{
  margin:0px;
}
a{
  cursor: pointer;
}
i{
  font-size: 22px;
}
h3 small{font-size: 17px;}
.text{
  word-wrap: break-word;
}
.field{
  margin-bottom: 10px;
}
label{
  margin-bottom: 10px
}
.hidden{
  display:none;
}
small {
  font-size:14px;
  color:#888;
}
body{}
br.big{line-height:2;}
br.lh3{line-height:3;}
hr.low{margin: 8px 0;}
textarea{
}
ul{
  margin: 0px;
  list-style:none;
}
a.gray-link{
  color: #bbb;
  &:hover{
    color: $linkColorHover;
    text-decoration: none;
  }
}
.gray-link-parent{
  &:hover{
    .gray-link{
      color: $linkColor;
      display: inline;
      visibility: visible;
    }
  }
}
.unvisible{
  visibility: hidden;
}
//width and height
.h358{height:358px;}
.w5{
  width:5px;
  display:inline-block;
}
.pl0{padding-left: 0px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.ml10{margin-left:10px;}
//
#content{
  position:relative;
  width:960px;
  margin:0 auto;
  margin-top:60px;
}

.inner{
  padding:20px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  min-height: 200px;
}
.alert{padding:5px 8px;}
.reputations .alert{margin-right:8px;}
.box{padding: 5px; padding-top:10px;}
.small-box{padding: 5px}
.user-face{
  float: left;
  margin-right: 15px;
}

.left-line{
  border-left:1px solid #ddd;
  padding-left:30px;
}
.right-line{
 border-right:1px solid #ddd;
 padding: 0 10px;
}
.clear{
  clear:both;
}

.well{
  .form-actions{ background: whitesmoke; }
}

.whole-content{display:note;}

//image version
.normal{
  width:106px;
  max-height:150px;
}
.profile{
  width: 620px;
  float: left;
  h3 {color:black;}
  .profile-left{
    float: left;
    width: 106px;
    margin-right:14px;
    text-align: center;
    img{margin-bottom: 8px;}
  }
  .update-link{
    color: #bbb;
  }
}

//carousel
.carousel-nav{margin-bottom:3px;}
.index-carousel{
  width: 710px;
  h3{margin-top:-8px;}
  .carousel .item{
    a{
      width: 121px;
      display:block;
      float:left;
      text-align:center;
    }
    img{margin-right:15px;}
  }
  .carousel-control{
    margin-right:102px;
    height:20px;
    width:20px;
    font-size:24px;
    line-height:18px;
    margin-top:10px;
    top: -2%;
  }
  .left-side{margin-right: 127px;}
}
.carousel-indicators{
  margin-right:160px;
  .active{
      background-color: #aaa;
  }
  li{
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    border-radius: 5px;
  }
}
//font-awesome
.icon-caret-down{
  color: #aaa;
}
