.current-entry-content
  min-height: 600px
#entry-tabs
  margin-left: -12px
  ul
    padding-bottom: 15px
    .icon-ban-circle
      font-size: 15px
    .icon-remove
      margin: 0 0 0 -2px
      font-size: 13px
  .nav-pills > .active > a
    background-color: rgba(0, 136, 204, 0.8)
