#header{
  li{
    margin-bottom:-5px;
    font-size:14px;
    a{
      display:inline-block;
      .badge{
        margin-right:-15px;
        margin-left:5px;
      }
    }
    .navbar-search{
      input{
        border:0;
        color:#999;
        background-color:#515151;
      }
      .add-on, button{
        border:0;
        color:#222;
        background-color:#515151;
      }
      button{
        width:41px;
        height:28px;
        margin-top:-4px;
      }
    }
   }
  .title{
      font-size:16px;
      font-weight:bold;
   }
   .dropdown-menu a{
     display:block;
     line-height:18px;
   }
}
