<p>Hello <%= @resource.name %>!</p>

<p>请点击下面的链接重新设置您的密码</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有要求重新设置，请忽略这条信息。</p>
