%div#sidebar
  %ul.nav.nav-pills.nav-stacked
    %li.active
      =link_to resources_path do
        %strong 广场
    %li
      =link_to '更多资源', '#'
    %div.h358
    %li
      =link_to '更多使用心得', '#'
    %li
      =link_to '更多评论', '#'
