- if @reviews
  %h3
    %small 热门评论
  %br
  - @reviews.each do |review|
    %div.span5{style: 'padding-bottom: 15px;'}
      %div
        =link_to review.user do
          = image_tag review.user.image(:small), class: 'user-face'
      %div.pull-left
        =link_to review.user.name, review.user
        %br.big
        对
        =link_to review.resource.title, review.resource
        的评论
        %br.big
        =link_to review.title, review
        %br.big
        %small
          ="#{review.reputations.useful.count}有用 #{review.created_at.getlocal.to_date}"
