%div#header
  %div.navbar.navbar-fixed-top.navbar-inverse
    %div.navbar-inner
      %div#header-content.container

        %ul.nav
          %li.title
            %a{:href=>'/'}学社
          %li
            =link_to '知识', knowledges_path
          %li
            =link_to '资源', resources_path
        /
          %li
            %a{:href=>'#'}小组

        %ul.nav.pull-right#userbar
          %li
          /
            %form.navbar-search.pull-right{:action=>'/search', :method=>"get"}
              %div.input-append
                %input.span3{:type=>"text", :name=>"q", :placeholder=>"知识、参考、成员、广播"}
                %span.add-on
                  %button{:type=>"submit",:value=>'搜索'}
                    搜索
          %li.dropdown
          - if current_user
            %li
              %a#user_notifications_count{:href=>"notifications"}
                .badge 0
            %li.dropdown#user_menu
              =link_to '#user_menu', :class=>'dropdown-toggle', "data-toggle"=>"dropdown" do
                =current_user.name
                %b.caret
              %ul.dropdown-menu
                %br
                %li
                  =link_to "我的主页", current_user
                  %br
                %li
                  =link_to "帐号设置", '#'
                  %br
                %li
                  =link_to "退出", destroy_user_session_path, :method => :delete
                  %br
          - else
            %li
              =link_to "注册", new_user_registration_path
            %li
              =link_to "登录", new_user_session_path
