<!DOCTYPE html>
%html
  %head
    %title 学社
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    =render 'layouts/header'
    %div#content.row-fluid
      - if content_for?(:main)
        =yield(:main)
      - elsif content_for?(:sidebar)
        =yield(:sidebar)
      - else
        =yield
    =render 'layouts/footer'

