<!DOCTYPE html>
%html
  %head
    %title
      =yield('title')||"学社"
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    =render 'layouts/header'
    =render 'common/messages', flash: flash
    %div
      - if content_for?(:main)
        #content.row-fluid
          =yield(:main)

      - elsif content_for?(:sidebar)
        #content.row-fluid
          =yield(:sidebar)

      - elsif content_for?(:blank)
        =yield(:blank)

      - else
        #content.row-fluid
          =yield

    =render 'layouts/footer'
